.col-md-2{"ng-controller" => "LibraryCntl"}
  {{lib.name}}
  %hr
  .namespaces{"ng-repeat" => "ns in lib.namespaces | orderBy:'name' "}
    %a{"ng-href" => "#/{{ns.name}}", href:""} {{ns.name}}

.col-md-10
  .row{"ng-view" => true}
