.row
  .columns.large-2{"ng-controller" => "LibraryCntl"}
    .namespaces{"ng-repeat" => "ns in lib.namespaces | orderBy:'name' "}
      %a{"ng-href" => "#/{{ns.name}}"} {{ns.name}}

  .large-10.columns
    .row{"ng-view" => true}
